body{
  background-color: azure;
}

.App{
  text-align: center;
}

.Map{
  border: double;
  width: 1150px;
  height: 1100px;
  margin-left: 20%;
  
  
}

.Nav{
  text-align: center;
}

.Flag-Display{

  box-sizing:content-box;
 height: 30%;
 width: 35%;
border: double;
margin-left: 0%;
background-color: gray;
  
  
}

.Flag{
 box-sizing: content-box;
 height: 28%;
 width: 33%;
}

.Facts-Display{
  box-sizing:content-box;
  height: 30%;
  width: 35%;
 border: double black;
 background-color: gray;
   
}

.Facts{
  
    box-sizing: content-box;
    border: double black;
    height: 30%;
    width: 35%;
   }

   .US-map{
    border: double;
    width: 1150px;
    height: 785px;
    margin-left: 20%;
    
   }

.State-Details{
  box-sizing: content-box;
  border: double black;
  height: 30%;
  width: 18%;
  margin-left: 1%;
}

.Default-Flag{
  box-sizing:content-box;
  height: 80%;
  width: 85%;
 border: double;

}